.home-screen {
  position: relative;
  margin-top: 10%;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.home-screen img {
  margin-bottom: 2%;
}
.home-screen .search-box {
  position: relative;
  height: 40px;
  margin-top: 2%;
  display: flex;
  border-radius: 10px;
  border: 1px solid #999 !important;
}
.home-screen .search-box form {
  position: relative;
  width: 80%;
}
.home-screen .search-box form input {
  width: 100%;
  height: 30px;
  border: 0;
  outline: none;
  padding: 2px 0;
}
.home-screen .search-box:hover {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}
.home-screen .search-box .fa {
  position: relative;
  margin: 0 1%;
  font-size: 1.2rem;
  color: #444;
}
.home-screen .search-box .fa.fa-close,
.home-screen .search-box .fa.fa-microphone {
  cursor: pointer;
}
